#SignUp {
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 2;
}
#SignUpForm {
	width: 30rem;
	height: 30rem;
	padding: 1rem;
	border-radius: 0.5rem;
	background: rgba(255, 255, 255);
	animation: showSignUpForm linear 0.25s;
}
#SignUpForm table thead th p {
	font-size: 1.5rem;
	padding: 0.5rem 0;
	color: rgba(12, 12, 12, 0.5);
}
#SignUpForm table thead th small {
	color: rgba(12, 12, 12, 0.5);
	font-style: italic;
}
#SignUpForm form,
#SignUpForm table {
	width: 100%;
	height: 100%;
}
#SignUpForm table input {
	width: 100%;
	padding: 1rem 3.5rem 1rem 2.25rem;
	font-size: 1rem;
	border: transparent;
	border-radius: 0.5rem;
	border-bottom: 1px solid rgba(85, 85, 85, 0.5);
	outline: transparent;
	background: transparent;
}
#SignUpForm ::placeholder {
	color: rgba(85, 85, 85, 0.5);
}
#SignUpForm table tbody tr:nth-child(3) {
	position: relative;
}
#SignUpForm span.icon {
	font-size: 1rem;
	color: rgba(85, 85, 85, 0.5);
	position: absolute;
}
.icon.showPassword {
	width: 25px;
	height: 25px;
	padding: 1px;
	font-size: 1.25rem;
	text-align: center;
	border-radius: 50%;
	bottom: 1.5rem;
	right: 0.5rem;
	cursor: pointer;
	display: none;
}
.icon.showPassword:hover {
	background: rgba(12, 12, 12, 0.1);
}
#SignUpForm table input:focus {
	border-bottom: 1px solid rgba(85, 85, 85, 0.5);
	outline: 1px solid rgba(85, 85, 85, 0.5);
}
#SignUpForm table button {
	width: 100%;
	padding: 1rem;
	border-radius: 0.5rem;
	font-size: 1rem;
	border: none;
	outline: none;
	transition: 0.5s;
	cursor: pointer;
	background: #a7a791;
	color: rgba(255, 255, 255);
	font-size: 1.25rem;
}
#SignUpForm table button:hover {
	background: #bf8f60;
}
.hide {
	display: none !important;
}
@keyframes showSignUpForm {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
/* Tablet Responsive */
@media only screen and (max-width: 1023px) and (min-width: 740px) {
}
/* Mobile Responsive */
@media only screen and (max-width: 739px) {
	#LoginForm {
		width: 25rem;
	}
}
